/* Colors Used 
#fff 
#2d0c03cb 
firebrick 
rgb(226, 38, 38) 
rgb(102, 148, 11) 
rgb(133, 199, 2) 
rgba(255, 255, 255, 0.315) 
*/ 

* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-image: url("../img/cookies.jpg"); 
    background-size: cover; 
    /* background-repeat: no-repeat;  */
    background-position: center; 
    text-align: center; 
    font-weight: bold; 
} 

/* Counter */ 
section {
    padding: 20px; 
    margin: 100px auto; 
} 

.text-container {
    /* background-color: rgba(0, 0, 0, 0.75);  */
    background-color: #2d0c03cb; 
    border: 10px double #b83d02; 
    max-width: 400px; 
    padding: 20px; 
    margin: 0 auto; 
}

h1 {
    color: #fff; 
    font-size: 40px;
    margin-top: 10px; 
    margin-bottom: 10px; 
} 

h2 {
    color: #fff; 
    font-size: 40px; 
    margin-top: 20px;
} 

button {
    color: #fff; 
    font-weight: bolder; 
    letter-spacing: 0.5px; 
    border: none; 
    width: 200px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-bottom: 10px; 
    border-radius: 50px; 
    cursor: pointer; 
} 

#increment-btn {
    /* background: firebrick; */
    /* background-color: #b83d02; */
    background-color: #d45508;
}

#increment-btn:hover {
    /* background-color: rgb(226, 38, 38); */
    background-color: #ff6200;
}

#save-btn {
    /* background: rgb(102, 148, 11);  */
    /* background-color: #b83d02; */
    background: firebrick;
} 

#save-btn:hover {
    /* background-color: yellowgreen;  */
    /* background: rgb(133, 199, 2);  */
    background-color: rgb(226, 38, 38);
} 

#saved-entries {
    color: #fff; 
    font-weight: bolder;
} 
/* End of Counter */ 


/* Footer */
footer {
    color: rgba(255, 255, 255, 0.699); 
    /* background-color: #94391e;  */
    padding: 1px; 
} 
/* End of Footer */ 
